.git
.github
.vs
**/bin
**/obj
artifacts
docs/*
!docs/codexRef.json
!docs/nebulae.json
SrvSurvey/*
!SrvSurvey/EliteDangerousRegionMap/
SrvSurvey/EliteDangerousRegionMap/*
!SrvSurvey/EliteDangerousRegionMap/RegionMapData.cs
!SrvSurvey/allRuins.json
!SrvSurvey/allStructures.json
!SrvSurvey/allBeacons.json
!SrvSurvey/guardianSiteTemplates.json
!SrvSurvey/colonization-costs2.json
!SrvSurvey/bio-criteria/
SrvSurvey/bio-criteria/*
!SrvSurvey/bio-criteria/*.json
!SrvSurvey/settlements/
SrvSurvey/settlements/*
!SrvSurvey/settlements/humanSiteTemplates.json
SrvSurvey.Package
BlinkMeasure
JournalViewer
